# dependencies
node_modules

# build output
dist
out
.next
.turbo
*.tgz
*.tsbuildinfo

# coverage
coverage
*.lcov

# logs
logs
*.log

# dotenv
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# bot demo local config
apps/example-bot/config.json
examples/bot/config.json

# caches
.eslintcache
.cache

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db
